fastapi
uvicorn
python-multipart
pypdf
langchain
langchain-community
faiss-cpu
sentence-transformers
python-dotenv
groq
numpy
torch==2.2.2
--extra-index-url https://download.pytorch.org/whl/cpu
